/* There's nothing here but boring CSS */

html {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  line-height: 23px;
}

body {
  background-color: lightsteelblue;
}

h1 {
  font-size: 1.7rem;
  margin: 0.4rem 0;
}

h2 {
  margin-bottom: 0;
  font-size: 1.1rem;
  font-weight:normal;
  margin: 0.3rem 0;
}

pre {
  background-color: #efefef;
  padding: 0.2rem 0.5rem;
  margin: 0.41rem 0;
  line-height: initial;
}

code {
  font-family: monospace;
  font-size: initial;
  background-color: #efefef;
  background-color: #efefef;
  background-color: #efefef;
  padding: 0 3px;
}

pre code {
  padding: 0;
}

ul {
  padding-left: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table td {
  border: 1px solid;
  padding: 0.4em;
}

.content a:hover {
  text-shadow: 0 0 4px #fff;
}

.content img {
  max-width: 100%;
}
/*
.content a:hover,
footer a:hover {
  background-color: #525252;
  color: #eaffbf;
}
*/

#container {
  max-width: 666px;
  margin: auto;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 0 14px 1px #00000036;
}

header {
  display: flex;
  align-items: center;
}

a#logo {
  display: inline-block;
}

a#logo img {
  width: 70px;
  margin: 0.3rem;
}

div.title {
  display: inline-block;
}

nav.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.content section.header ul.tag-list::before {
  content: "🏷";
}

.content section.header ul.tag-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap;
  font-family: monospace;
  font-size: 0.9em;
}

section.all-tags ul.tag-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  font-size: 0.9em;
  background-color: #eaffbf;
  border-bottom: 1px dashed;
}

section.all-tags ul.tag-list::before {
  content: "All tags:";
}

.content section.header ul.tag-list li {
  margin: 0 0.5em;
}
nav.menu ul li {
  padding: 5px;
}

nav.menu ul li:after {
  content: "~";
  padding-left: 10px;
}

nav.menu ul li:last-child:after {
  content: "";
}

nav.menu ul li:last-child {
  margin: 0;
}

nav.menu a {
  color: #333;
  text-decoration: none;

}

nav.menu a:hover {
  color: #333;
  background-color: inherit;
}

article section.header h3.post-title {
  margin: 0;
}

time {
  font-style: italic;
  font-size: 0.9rem;
  margin-left: 4px;
  color: #444c35;
}

article section.header time {
  font-size: 0.85rem;
}

div.content {
  padding: 1rem;
  background-color: #eaffbf;
  border-top: 1px dashed;
}

ul.post-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
}

ul.post-list li {
  margin: 0.1em;
  padding: 0.4em 0;
}

footer {
  padding: 0.5rem;
  font-size: 0.8rem;
  background-color: #ecd8a6;
}

footer p {
  margin: 0;
}

footer img.carrot-logo {
  height: 20px;
}

@media only screen and (max-width: 480px) {

  body {
    font-size: 0.9rem;
    background-color: lightsteelblue;
  }

  h3 {
    margin: 0.4rem 0;
  }

  div.title {
    font-size: 0.7rem;
  }

  div.content {
    padding: 0.4rem;
    font-size: 1.1rem;
  }

  time {
    margin-left: 0;
  }

  ul.post-list time {
    display: block;
  }

}
