    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ site.web_dir }}resources/favicon.ico" type="image/x-icon">

    <!-- Google fonts -->
    <link rel="preload stylesheet" href="{{ site.web_dir }}resources/robotoslab.css">
    <link rel="stylesheet" href="{{ site.web_dir }}resources/style.css">
