        <nav class="menu">
          <ul>
            {% for item in menu %}
              <li>
                <a href="{{ item.slug }}" title="{{ item.title }}">{{ item.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
